@font-face {
  font-family: 'NewYork';
  src: url('fonts/NewYork.eot');
  src: url('fonts/NewYork.eot?#iefix') format('embedded-opentype'),
    url('fonts/NewYork.woff2') format('woff2'),
    url('fonts/NewYork.woff') format('woff'),
    url('fonts/NewYork.ttf') format('truetype'),
    url('fonts/NewYork.otf') format('opentype'),
    url('fonts/NewYork.svg#NewYork') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Bold';
  src: url('fonts/DMSans-Bold.eot');
  src: url('fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMSans-Bold.woff2') format('woff2'),
    url('fonts/DMSans-Bold.woff') format('woff'),
    url('fonts/DMSans-Bold.ttf') format('truetype'),
    url('fonts/DMSans-Bold.otf') format('opentype'),
    url('fonts/DMSans-Bold.svg#DMSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-BoldItalic';
  src: url('fonts/DMSans-BoldItalic.eot');
  src: url('fonts/DMSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMSans-BoldItalic.woff2') format('woff2'),
    url('fonts/DMSans-BoldItalic.woff') format('woff'),
    url('fonts/DMSans-BoldItalic.ttf') format('truetype'),
    url('fonts/DMSans-BoldItalic.otf') format('opentype'),
    url('fonts/DMSans-BoldItalic.svg#DMSans-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Italic';
  src: url('fonts/DMSans-Italic.eot');
  src: url('fonts/DMSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMSans-Italic.woff2') format('woff2'),
    url('fonts/DMSans-Italic.woff') format('woff'),
    url('fonts/DMSans-Italic.ttf') format('truetype'),
    url('fonts/DMSans-Italic.otf') format('opentype'),
    url('fonts/DMSans-Italic.svg#DMSans-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Medium';
  src: url('fonts/DMSans-Medium.eot');
  src: url('fonts/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMSans-Medium.woff2') format('woff2'),
    url('fonts/DMSans-Medium.woff') format('woff'),
    url('fonts/DMSans-Medium.ttf') format('truetype'),
    url('fonts/DMSans-Medium.otf') format('opentype'),
    url('fonts/DMSans-Medium.svg#DMSans-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-MediumItalic';
  src: url('fonts/DMSans-MediumItalic.eot');
  src: url('fonts/DMSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMSans-MediumItalic.woff2') format('woff2'),
    url('fonts/DMSans-MediumItalic.woff') format('woff'),
    url('fonts/DMSans-MediumItalic.ttf') format('truetype'),
    url('fonts/DMSans-MediumItalic.otf') format('opentype'),
    url('fonts/DMSans-MediumItalic.svg#DMSans-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans-Regular';
  src: url('fonts/DMSans-Regular.eot');
  src: url('fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/DMSans-Regular.woff2') format('woff2'),
    url('fonts/DMSans-Regular.woff') format('woff'),
    url('fonts/DMSans-Regular.ttf') format('truetype'),
    url('fonts/DMSans-Regular.otf') format('opentype'),
    url('fonts/DMSans-Regular.svg#DMSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*FONTS*/
h1,
h2,
h3,
h4,
p,
small,
li {
  padding: 0.5em 0;
}

h1,
h2,
h3 {
  font-family: 'NewYork', serif;
  color: rgba(46, 56, 52, 1);
  font-weight: normal;
  text-decoration: none;
  line-height: 1.1em;
  letter-spacing: 0.04em;
  text-align: left;
}

h4 {
  font-family: 'DMSans-Regular', sans-serif;
  color: rgba(46, 56, 52, 1);
  font-weight: 400;
  text-decoration: none;
  line-height: 1.4em;
  text-align: left;
}

p {
  font-family: 'DMSans-Regular', sans-serif;
  color: rgba(46, 56, 52, 1);
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  text-decoration: none;
  text-align: left;
}

li,
a,
small {
  font-family: 'DMSans-Regular', sans-serif;
  color: rgba(46, 56, 52, 1);
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  text-decoration: none;
  text-align: left;
}

small {
  text-align: center;
}

.hover a,
.hover p {
  color: rgba(0, 142, 83, 1);
}

/*FONT SIZES*/
h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

p,
li,
a {
  font-size: 18px;
}

small {
  font-size: 14px;
}

navbar nav ul li a {
  font-size: 24px;
}

navbar nav ul li ul li a {
  font-size: 18px;
}

.side-menu a {
  font-size: 12px;
}

/*PAGE*/
* {
  max-width: 100%;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  box-sizing: border-box;
}

body {
  background: rgba(244, 250, 252, 1);
  margin: 0;
  overflow-x: hidden;
}

.white {
  background: rgba(255, 255, 255, 1);
  margin: 0;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: hsl(202 100% 78%/0.2);
}

::-webkit-scrollbar-thumb {
  background: hsl(202 76% 70%/1);
  border-radius: 100vw;
}

/* NAVBAR FOR LARGE SCREENS8*/
navbar {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  padding: 0 5%;
  background: rgba(244, 250, 252, 0.95);
  width: 100%;
  box-sizing: border-box;
}

navbar nav {
  float: right;
}

navbar nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

navbar nav ul li {
  list-style: none;
  position: relative;
  padding: 0.3em 2em 0.1em 2em;
}

/*dropdown-starts*/
navbar nav ul li ul {
  position: absolute;
  top: 3.25em;
  left: 0;
  padding: 1em 0em;
  display: none;
  background: rgba(231, 245, 250, 0.95);
  border-radius: 0 0 8px 8px;

  min-width: max-content;
  width: auto;
  white-space: nowrap;
}

navbar nav ul li.active ul {
  display: inline-block;
}

navbar nav ul li ul li {
  display: in-line block;
}

navbar nav ul li a {
  font-family: 'NewYork', serif;
  color: rgba(0, 142, 83, 1);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  text-transform: none;

  height: auto;
  display: inline-block;
  white-space: nowrap;
}

navbar nav ul li ul li a {
  color: rgba(0, 142, 83, 1);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  text-transform: none;
}

/* NAVBAR FADE IN AND OUT */
navbar {
  /* Your other navbar styles */
  opacity: 1;
  transition: opacity 0.3s ease;
}

navbar.fade-in {
  opacity: 1;
}

navbar.fade-out {
  opacity: 0;
}

/* HAMBURGER MENU FOR MOBILE*/
.hamburger-container,
.menu-icon {
  position: fixed;
  top: clamp(12px, 5vw, 36px);
  right: clamp(16px, 5vw, 48px);
  cursor: pointer;
  z-index: 1000;
  overflow: hidden;
  border-radius: 100px;
}

.menu-icon img,
.closebtn img {
  width: clamp(48px, 13vw, 72px);
  height: clamp(48px, 13vw, 72px);
  border-radius: 100px;
}

.closebtn {
  position: absolute;
  top: clamp(12px, 5vw, 36px);
  right: clamp(16px, 5vw, 48px);
  cursor: pointer;
  overflow: hidden;
}

.menu-container {
  height: 0%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 500;
  background: rgba(244, 250, 252, 0.98);
  overflow: hidden;
  transition: 1s ease-in-out;
}

.menu-column {
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* Display items in a column */
  align-items: center;
  /* Center items horizontally */
  justify-content: center;
  /* Center items vertically */
  text-align: center;
  /* Center text within items */
  margin: 24px;
  padding: 30% 0;
}

.menu-item h2 {
  font-family: 'NewYork', serif;
  text-decoration: none;
  color: rgba(0, 142, 83, 1);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  letter-spacing: 0.04em;
  line-height: 1.3em;
  text-align: center;
}

/* CASE STUDY SIDE MENU */
.wrapper {
  display: flex;
}

.side-menu {
  position: sticky;
  top: 0;
  width: 10%;
  height: 100vh;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

/* Add styling for the menu items */
.side-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-menu li {
  padding-bottom: 25%;
}

.side-menu a {
  display: block;
  text-decoration: none;
  font-family: 'DMSans-Regular', san-serif;
  color: rgba(46, 56, 52, 0.75);
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.04em;
  line-height: 1.5em;
  text-transform: none;
  text-transform: uppercase;
}

/*CASE STUDY FORMAT*/
.page-container {
  flex: 1;
  margin: clamp(16px, 8vw, 80px);
  padding-top: clamp(24px, 5vh, 48px);
  padding-bottom: clamp(40px, 10vh, 72px);
  z-index: 200;
}

img,
iframe,
video {
  border-radius: 24px;
  box-shadow: 5px 5px 15px rgba(40, 42, 43, 0.15);
}

section {
  padding-bottom: 5vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container-padded {
  padding-bottom: clamp(18px, 26vw, 52px);
}

.container-top-align,
.container-padded {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-2,
.col-2-icon {
  flex-basis: calc(50% - 40px);
}

.col-2-icon {
  padding-top: clamp(24px, 5vh, 48px);
}

.col-2-icon img {
  box-shadow: none;
}

.no-shadow img,
#flex-header-text img,
#flex-header-monet img,
.flex-contact img,
.menu-container img {
  border-radius: 0;
  box-shadow: none;
}

.col-3 {
  flex-basis: calc(33.33% - 16px);
}

.col-full,
.col-2 {
  padding-top: clamp(8px, 1vh, 24px);
  padding-bottom: clamp(8px, 1vh, 24px);
}

.col-full {
  flex-basis: 100%;
}

.col-2 img,
.col-full img,
.cs-banner img {
  width: 100%;
}

.col-3 img {
  width: 50%;
}

.col-2-icon img {
  width: 20%;
}

/*HOME PAGE FORMAT*/
.home-container {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "case-study-1"
    "case-study-2"
    "case-study-3"
    "case-study-4"
    "case-study-5"
    "contact";
}

.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  padding: 0px 5% 80px 5%;
  z-index: 100;
}

#flex-header-text {
  width: 50%;
  padding: 5%;
}

#flex-header-monet {
  width: 50%;
}

#flex-header-text img {
  padding: 5% 0%;
}

#monet {
  display: grid;
  grid-template-areas: "overlap";
}

#monet img {
  grid-area: overlap;
}

/*CASE STUDIES HOME PAGE*/
.case-hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 200;
}

.flex-case-1,
.flex-case-2,
.flex-case-3,
.flex-case-4,
.flex-case-5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 200;
  padding-bottom: 120px;
}

.flex-case-1 {
  grid-area: case-study-1;
}

.flex-case-2 {
  grid-area: case-study-2;
}

.flex-case-3 {
  grid-area: case-study-3;
}

.flex-case-4 {
  grid-area: case-study-4;
}

.rect-case-1,
.rect-case-2,
.rect-case-3,
.rect-case-4,
.rect-case-5 {
  width: 100%;
  height: 100%;
  position: absolute;
  border-top-right-radius: 100em;
  border-top-left-radius: 100em;
}

.rect-case-1,
.flex-case-2 {
  background-color: #DBF0E9;
}

.rect-case-2,
.flex-case-3 {
  background-color: #FFE1D6;
}

.rect-case-3,
.flex-case-4 {
  background-color: #D3F3F8;
}

.rect-case-4 {
  background-color: #CEE3FD;
}

.rect-case-1 {
  z-index: 1;
}

.rect-case-2 {
  z-index: 2;
}

.rect-case-3 {
  z-index: 3;
}

.rect-case-4 {
  z-index: 4;
}

.flex-fullspan-HOME {
  width: 100%;
  margin: 10%;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.flex-fullspan-HOME h2 {
  text-align: center;
  padding: 40px 25%;
}

.flex-case-1 h2 {
  color: #277B5F;
}

.flex-case-2 h2 {
  color: #FB5F5D;
}

.flex-case-3 h2 {
  color: #0880D1;
}

.flex-case-4 h2 {
  color: #1762C0;
}

.flex-fullspan-HOME p {
  text-align: center;
  padding: 0% 25%;
}

.cs-thumbnail {
  width: 100%;
}

.cs-thumbnail img {
  width: 80%;
}

/*FLEX ITEMS PAGES*/
.flex-container-pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 8% 0 3% 0;
}

.rect-pages {
  background-color: #EEF5F8;
  width: 100%;
  height: 100%;
  position: absolute;
  border-top-right-radius: 100em;
  border-top-left-radius: 100em;
  z-index: 1;
}

.flex-fullspan-pages {
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 300;
  padding: 5% 20% 2% 20%;
}

.flex-fullspan-pages h1 {
  font-size: clamp(50px, 10vw, 100px);
  color: rgba(0, 142, 83, 1);
  text-align: center;
}

.flex-fullspan-pages p {
  text-align: center;
}

.flex-item-pages-left {
  width: 50%;
  padding: 2% 5% 2% 10%;
  z-index: 300;
  text-align: center;
}

.flex-item-pages-right {
  width: 50%;
  padding: 2% 10% 2% 5%;
  z-index: 300;
  text-align: center;
}

.flex-item-pages-left p,
.flex-item-pages-right p {
  font-weight: 400;
  font-style: italic;
  text-align: center;
}

/* NEXT CASE STUDY*/
.next-case-study {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 5% 10%;
  background-color: rgba(231, 250, 242, 1);
}

.next-cs-thumbnail {
  margin-right: 5%;
  width: 100%;
}

.next-case-study h3 {
  color: rgba(0, 142, 83, 1);
}

.arrow-icon {
  width: 20%;
}

/*CONTACT*/
.flex-contact {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 0%;
  grid-area: contact;
  z-index: 200;
  background: rgba(244, 250, 252, 1);
  padding: 40px 0;
}

.flex-contact h1 {
  color: rgba(0, 142, 83, 1);
  text-align: center;
  line-height: 0.6em;
}

.flex-contact img {
  align-self: center;
  padding: 0% 25%;
}

#contact-fullspan {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 2% 0%;
}

#contact-fullspan a {
  color: rgba(0, 142, 83, 1);
}

.contact-item-3 {
  padding: 0% 5%;
  text-align: center;
}

/*MEDIA QUERIES*/
/*MOBILE*/
@media (max-width: 480px) {

  /*font sizes*/
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 24px;
  }

  .flex-fullspan-HOME h2 {
    color: rgba(46, 56, 52, 1);
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p,
  li,
  a {
    font-size: 14px;
  }

  small {
    font-size: 10px;
  }

  .flex-contact h1 {
    font-size: 30px;
  }

  img,
  iframe,
  video {
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(40, 42, 43, 0.15);
  }

  /*homepage*/
  .menu-column {
    margin: 16px;
    padding: 30% 0;
  }

  navbar,
  #monet {
    display: none;
  }

  #flex-header-monet {
    width: 100%;
  }

  .header {
    padding: 56px 16px;
  }

  #flex-header-text {
    width: 100%;
    padding: 12px 0 16px 0;
  }

  .flex-case-1,
  .flex-case-2,
  .flex-case-3,
  .flex-case-4,
  .flex-case-5 {
    padding: 0px 16px 48px 16px;
  }

  .flex-fullspan-HOME,
  .flex-fullspan-HOME p {
    margin: 0;
    padding: 0;
  }

  .flex-fullspan-HOME h2 {
    padding: 16px 0;
  }

  .cs-thumbnail img {
    width: 100%;
  }

  /*contact*/
  .flex-contact {
    padding: 16px;
  }

  .flex-contact img {
    padding: 0 16px;
  }

  #contact-fullspan {
    flex-wrap: wrap;
  }

  /*play and about*/
  .flex-item-pages-left,
  .flex-item-pages-right {
    width: 100%;
    padding: 16px;
  }

  .flex-fullspan-pages {
    padding: 5% 16px;
  }

  /*case studies*/
  .side-menu {
    display: none;
  }

  .page-container {
    margin: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .container,
  .container-top-align {
    display: block;
  }

  .col-2,
  .col-2-icon,
  .col-3,
  .col-full {
    flex-basis: 100%;
  }

  /*next case study*/
  .next-case-study {
    padding: 12px 16px;
  }

  .next-cs-thumbnail {
    display: none;
  }

  .arrow-icon {
    margin-left: 16px;
  }
}

@media (max-width: 480px) and (min-width: 300px) {

  /*font sizes*/
  h1 {
    font-size: 48px;
  }

  h2,
  .flex-contact h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }

  p,
  li,
  a {
    font-size: 18px;
  }

  small {
    font-size: 14px;
  }

  /*homepage*/
  .menu-column {
    margin: 24px;
  }

  .header {
    padding: 64px 24px;
  }

  #flex-header-text {
    padding: 16px 0 24px 0;
  }

  .flex-case-1,
  .flex-case-2,
  .flex-case-3,
  .flex-case-4,
  .flex-case-5 {
    padding: 0px 24px 56px 24px;
  }

  .flex-fullspan-HOME h2 {
    padding: 24px 0;
  }

  /*contact*/
  .flex-contact {
    padding: 24px;
  }

  .flex-contact img {
    padding: 0 24px;
  }

  /*play and about*/
  .flex-item-pages-left,
  .flex-item-pages-right {
    padding: 24px;
  }

  .flex-fullspan-pages {
    padding: 8% 24px;
  }

  /*case studies*/
  .page-container {
    margin: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  /*next case study*/
  .next-case-study {
    padding: 16px 24px;
  }

  .arrow-icon {
    margin-left: 24px;
  }
}

/*TABLET*/
@media (max-width: 1023px) and (min-width: 769px) {

  img,
  iframe,
  video {
    border-radius: 16px;
  }

  /*homepage*/
  navbar,
  #monet {
    display: none;
  }

  #flex-header-monet {
    width: 50%;
  }

  .header {
    padding: 56px 48px;
  }

  #flex-header-text {
    width: 50%;
    padding: 22px 0 24px 0;
  }

  .flex-case-1,
  .flex-case-2,
  .flex-case-3,
  .flex-case-4,
  .flex-case-5 {
    padding: 0px 48px 56px 48px;
  }

  .flex-fullspan-HOME {
    margin: 0;
    padding: 0;
  }

  .flex-fullspan-HOME h2 {
    padding: 40px 48px;
  }

  .flex-fullspan-HOME p {
    padding: 0px 48px;
  }

  .cs-thumbnail img {
    width: 75%;
  }

  /*contact*/
  .flex-contact {
    padding: 48px;
  }

  .flex-contact img {
    padding: 0 48px;
  }

  #contact-fullspan {
    flex-wrap: wrap;
  }

  /*case studies*/
  .page-container {
    margin: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .container,
  .container-top-align {
    display: block;
  }

  /*next case study*/
  .next-case-study {
    padding: 24px 48px;
  }

  .arrow-icon {
    margin-left: 16px;
  }
}

/*DESKTOP*/
@media (max-width:1920px) and (min-width:1024px) {
  .flex-contact img {
    padding: 0% 30%;
  }

  .hamburger-container {
    display: none;
  }

  /*homepage*/
  #monet-mobile {
    display: none;
  }
}

@media (min-width:1921px) {
  .hamburger-container {
    display: none;
  }

  /*homepage*/
  #monet-mobile {
    display: none;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 48px;
  }

  h4 {
    font-size: 30px;
  }

  p,
  li,
  a {
    font-size: 24px;
  }

  small {
    font-size: 16px;
  }

  navbar nav ul li a {
    font-size: 30px;
  }

  navbar nav ul li ul li a {
    font-size: 24px;
  }

  .side-menu a {
    font-size: 16px;
  }

  .flex-contact img {
    padding: 0% 30%;
  }
}